<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="author" content="{{ site.author }}" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="{{ '/css/screen.css' | relative_url }}" type="text/css" media="screen, projection" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📓</text></svg>">
</head>

<body>
  <div class="site">
    <div class="title">
      {{ site.title }}
      <a class="extra" href="{{ '/' | relative_url }}">home</a>
    </div>

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
          {{ site.email }}
        </p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
  <script src="{{ '/js/lightbox.js' | relative_url }}"></script>
</body>

</html>